* {
    background-color: #00454E;
    height: 80px;
}

input:focus {
    outline: none;
    border: 2px solid #E4F3F1;
}

input {
    border: 2px solid #E4F3F1;
    background-color: #00454E;
    padding: 5px;
    color: #E4F3F1;
}

button {
    border: 2px solid #E4F3F1;
    background-color: #00454E;
    padding: 5px;
    height: 31px;
}

.logo {
    left: 5%;
    top: 5%;
    position: absolute;
    height: auto;
}

.profile {
    width: 40px;
    height: 40px;
    right: 5%;
    top: 5%;
    position: absolute;
}

.dates {
    width: 396px;
    height: 288px;
    left: 0px;
    top: 475px;
    position: absolute;
}

.arrow {
    width: 30px;
    height: 30px;
    left: 13px;
    top: 170px;
    position: absolute;
}

.login {
    font-size: 24px;
    font-family: futura;
    width: 104px;
    height: auto;
    left: 50%;
    top: 40%;
    position: absolute;
    color: #E4F3F1;
    transform: translate(-50%, -50%);
}

.username {
    font-size: 15px;
    font-family: Futura;
    width: 247px;
    height: 24px;
    left: 50%;
    top: 318px;
    position: absolute;
    background: #00454E;
    transform: translate(-50%, -50%);
}

.password {
    font-size: 15px;
    font-family: Futura;
    width: 247px;
    height: 24px;
    left: 50%;
    top: 370px;
    position: absolute;
    background: #00454E;
    transform: translate(-50%, -50%);
}

.submitBtn {
    font-size: 16px;
    font-family: Futura;
    line-height: 0px;
    padding: 0px;
    width: 80px;
    height: 40px;
    left: 50%;
    top: 450px;
    position: absolute;
    color: #E4F3F1;
    background-color: #00454E;
    border:#FAE353 solid;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.error-msg {
    color: red;
    font-family: futura;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 440px;
    background: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.freedates {
    color: #E4F3F1;
    font-size: 14px;
    font-family: Futura;
    width: 91px;
    height: 24px;
    left: 75px;
    top: 780px;
    position: absolute;
    margin-top: 10px;
}

.occupieddates {
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    font-weight: 700;
    color: #E4F3F1;
    font-size: 14px;
    font-family: Futura;
    width: 117px;
    height: 24px;
    left: 233px;
    top: 780px;
    position: absolute;
    margin-top: 10px;
}

.occupieddatesblock {
    width: 24px;
    height: 24px;
    left: 199px;
    top: 791px;
    position: absolute;
    background-color: #E4F3F1;
    margin-top: 10px;
}

.freedatesblock {
    width: 24px;
    height: 24px;
    left: 42px;
    top: 791px;
    position: absolute;
    background-color: #00454E;
    border: 1px #E4F3F1 solid;
    margin-top: 10px;

}


.profil {
    color: #E4F3F1;
    font-size: 25px;
    font-family: Futura;
    font-weight: 700;
    width: 210px;
    height: 43px;
    left: 52px;
    top: 170px;
    position: absolute;
}

.mydates {
    width: 247px;
    height: 24px;
    left: 52px;
    top: 230px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: futura;
}


.profiledate {
    width: 80px;
    height: 40px;
    left: 53px;
    top: 270px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
}

.profiletime {
    width: 80px;
    height: 40px;
    left: 155px;
    top: 270px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
}

.canceldate {
    width: 80px;
    height: 40px;
    left: 255px;
    top: 270px;
    position: absolute;
    color: #00454E;
    font-size: 16px;
    font-family: Futura;
    background-color: #E4F3F1;
}

.olddates {
    width: 247px;
    height: 24px;
    left: 52px;
    top: 350px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: futura;
}

.canceleddates {
    width: 247px;
    height: 24px;
    left: 52px;
    top: 450px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: futura;
}

.logout {
    width: 80px;
    height: 40px;
    left: 50%;
    top: 580px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: futura;
    background-color: #00454E;
    border:#FAE353 solid;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

/* her starter filtrerings CSS */

body {
    font-family: futura;
    background-color: #083d49;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: -50px;

  }
  
  h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .filter-group {
    margin-top: 20px;

  }
  
  .filter-group p {
    font-size: 16px;
    margin-bottom: -40px;
  }
  
  .filter-option {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
 .filter-option.active {
    border-color: #ffd700;
  }
  
  #submit {
    width: 80px;
    height: 40px;
    left: 50%;
    top: 660px;
    position: absolute;
    font-family: futura;
    font-size: 16px;
    line-height: 0px;
    padding: 0px;
    color: #E4F3F1;
    padding: auto;
    background-color: #00454E;
    transform: translate(-50%, -50%);
    border: #FAE353 solid;
    border-radius: 10px;
  }


  #result-container {
    display: none;
  }

  .filter-option.selected {
    background-color: #ffd700;
    color: #00454E;
  }

.filter-title {
    font-family: futura;
    font-size: 18px;            
    font-weight: bold;             
    color: #fff;                  
    margin-bottom: 10px;             
    text-align: left;
    margin-left: 15px;              
}

.filter-group {
    margin-bottom: 80px; 
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#submit {
    font-size: 16px;     
    font-weight: 600;
}

#filter-system {
    color: #fff; 
    text-align: center;
}



/*Her starter kaldender CSS*/
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
  }
  
  .calendar-day {
    height: 50px;
    border: 1px solid #E3F2F1;
    text-align: left;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .calendar-day.disabled {
    background-color: #E3F2F1;
    color: #00454E;
    cursor: not-allowed;
  }
  
  .calendar-day.occupied {
    background-color: #E3F2F1;
    color: #00454E;
  }
  
  .calendar-day.available {
    background-color: #00454E;
    color: #E3F2F1;
  }
  
  .calendar-day.selected {
    border: 2px solid yellow;
  }

.weekdays, .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.weekdays div {
  font-size: 15px;
  text-align: center;
  margin-top: 70px;
}

.kalenderoccupieddates {
    color: #E4F3F1;
    font-size: 14px;
    font-family: Futura;
    font-weight: 700;
    width: 117px;
    height: 24px;
    left: 233px;
    top: 690px;
    position: absolute;
    margin-top: 10px;
}

.kalenderoccupieddatesblock {
    width: 24px;
    height: 24px;
    left: 199px;
    top: 700px;
    position: absolute;
    background-color: #E4F3F1;
    margin-top: 10px;
}

.kalenderfreedates {
  color: #E4F3F1;
  font-size: 14px;
  font-family: Futura;
  font-weight: 700;
  width: 91px;
  height: 24px;
  left: 75px;
  top: 690px;
  position: absolute;
  margin-top: 10px;
}

.kalenderfreedatesblock {
    width: 24px;
    height: 24px;
    left: 42px;
    top: 700px;
    position: absolute;
    background-color: #00454E;
    border: 1px #E4F3F1 solid;
    margin-top: 10px;
}

.calendar-day.selected {
  border: 2px solid #FAE353;
}

#book-button-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 20px; 
  width: 100%; 
}

#book-button {
  width: 80px;
  height: 40px;
  left: 50%;
  top: 630px;
  position: absolute;
  font-family: futura;
  font-size: 16px;
  line-height: 0px;
  padding: 0px;
  color: #E4F3F1;
  padding: auto;
  background-color: #00454E;
  transform: translate(-50%, -50%);
  border: #FAE353 solid;
  border-radius: 10px;
}
