* {
    background-color: #00454E;
    height: 80px;
}
h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: futura;
    color: #E4F3F1;
  }

button {
    border: 2px solid #E4F3F1;
    background-color: #00454E;
    padding: 5px;
}


.logo {
    left: 13px;
    top: 21px;
    position: absolute;
    height: auto;
}

.profile {
    width: 40px;
    height: 40px;
    right: 13px;
    top: 21px;
    position: absolute;
}

.arrow {
    width: 40px;
    height: 40px;
    left: 13px;
    top: 200px;
    position: absolute;
}

.book {
    width: 80px;
    height: 40px;
    left: 50%;
    top: 570px;
    position: absolute;
    font-family: futura;
    font-size: 16px;
    line-height: 0px;
    padding: 0px;
    color: #E4F3F1;
    padding: auto;
    background-color: #00454E;
    transform: translate(-50%, -50%);
    border: #FAE353 solid;
    border-radius: 10px;
}

.freedates {
    color: #E4F3F1;
    font-size: 14px;
    font-family: Futura;
    width: 91px;
    height: 24px;
    left: 40%;
    top: 610px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.occupieddates {
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    color: #E4F3F1;
    font-size: 14px;
    font-family: Futura;
    width: 117px;
    height: 24px;
    left: 75%;
    top: 610px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.occupieddatesblock {
    width: 24px;
    height: 24px;
    left: 57%;
    top: 620px;
    position: absolute;
    background-color: #E4F3F1;
    transform: translate(-50%, -50%);
}

.freedatesblock {
    width: 24px;
    height: 24px;
    left: 25%;
    top: 620px;
    position: absolute;
    background-color: #00454E;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.eight {
    width: 80px;
    height: 50px;
    left: 25%;
    top: 360px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.nine {
    width: 80px;
    height: 50px;
    left: 50%;
    top: 360px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.ten {
    width: 80px;
    height: 50px;
    left: 75%;
    top: 360px;
    position: absolute;
    color: #00454E;
    font-size: 16px;
    font-family: Futura;
    background-color: #E4F3F1;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.eleven {
    width: 80px;
    height: 50px;
    left: 25%;
    top: 430px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.twelve {
    width: 80px;
    height: 50px;
    left: 50%;
    top: 430px;
    position: absolute;
    color: #00454E;
    font-size: 16px;
    font-family: Futura;
    background-color: #E4F3F1;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.thirteen {
    width: 80px;
    height: 50px;
    left: 75%;
    top: 430px;
    position: absolute;
    color: #00454E;
    font-size: 16px;
    font-family: Futura;
    background-color: #E4F3F1;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.fourteen {
    width: 80px;
    height: 50px;
    left: 25%;
    top: 500px;
    position: absolute;
    color: #00454E;
    font-size: 16px;
    font-family: Futura;
    background-color: #E4F3F1;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.fifteen {
    width: 80px;
    height: 50px;
    left: 50%;
    top: 500px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}

.sixteen {
    width: 80px;
    height: 50px;
    left: 75%;
    top: 500px;
    position: absolute;
    color: #E4F3F1;
    font-size: 16px;
    font-family: Futura;
    border: 1px #E4F3F1 solid;
    transform: translate(-50%, -50%);
}